a {
  text-decoration: none;
}

button{
  opacity: .83;
}
ul{
  list-style: none;
  margin: 0;
}
li{
  text-transform: capitalize;
}

.app {
    max-height: fit-content;
    max-width: 1175px;
    margin: 58px auto;
}

.bg-light {
opacity: .75;
}

.body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/009/797/original/background.jpg?1622256613");
  background-size: cover;
  border-radius: 90px;
  font-family: "Tillana", cursive;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px white;
}

.built {
  color: darkslategray;
  font-size: 12px;
  margin-top: 10px;
  padding-top: 10px;
}
 .currentStatus,
 .currentStatus2{
   position: relative; 
   left: -50px;
 }

 .currentStatus2{
  top: -11px;
}

.date {
  margin: 10px;
}

.description-box{
  position:relative;
  left: 15px;
}
.display-info{
  margin: 32px 0px 25px 15px;
}

.feelslike,
.highof,
.humidity,
.lowof,
.precipitation,
 .wind{
font-size: 16px;
font-weight: 600
 }

.forecast {
  margin: 5px;
  padding: 10px 55px;
}


.github{
  color: #212529;
}

.haha {
  font-size: x-small;
  font-style: italic;
  opacity: 10%;
}


.header {
 margin: 10px;
 padding-top: 10px;
}

.hour-box{
border-radius: 30px;
}

.hourly{
  padding: 0px 25px;
}
.location{
  font-size: 28px;
  line-height: 40px;
}

.search {
  padding: 8px;
}

.ul-one{
  padding-left: 16px
}

.units{
  color: #212529;
  bottom: 10px;
  font-size: 14px;
  position: relative;
  text-decoration: none;
}

.units:hover {
  font-size: large;
}

.weather-temp .units .active{
cursor: default;
color: #212529;
}

.weather-temp .units .active:hover{
text-decoration: none;
}